
<p class="ct ft1">Ibrahima Fadiga <span class="ft0">| Analyste</span></p>
<p class="ct ft0">Programmeur</p>
<div class="row">
  <h3 class="ft3">Études</h3>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ft7">Formation en programmation moderne.</div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ft5 rights">Rural Technology Lab</div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ft6">Programmation moderne, <nobr>OMD-MICROSOFT</nobr></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ft11 rights">2010</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft8">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ft6">Diplôme Universitaire de Technologie, Bamako</div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ft5 rights"><nobr>TechnoLAB-ISTA</nobr></div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ft7">Série informatique option <nobr>Analyste-Programmeur</nobr></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ft11 rights">2009</div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft8">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ft6">Baccalauréat, Mali</div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ft5 rights">Lycée Technique de Bamako</div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ft7">Série Mathématiques Technique Génie Civil (MTGC)</div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ft11 rights">2005</div>
    </div>
</div>
<div class="row">
  <h3 class="ft3">Expériences</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft10"><nobr>Analyste-Programmeur</nobr></div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft5 rights">Bamako</div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ft6">yeleman s.à.r.l</div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ft11 rights">Depuis 2010</div>
    </div>
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ft7">Responsable déploiements matériels et relations fournisseurs.</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft4">&nbsp;</div>
    </div>
  <p class="ft12">Système Numérique d’Information Sanitaire Intégré (SNISI).</p>
  <p class="ft11">Ministère de la Santé, USAID, MEASURE Evaluation</p>
  <ul>
  <li><span class="ft14">Collecte de données mobile (SMS, SMPP, Android, J2Me, Excel);</span></li>
  <li><span class="ft14">Analyses automatisées (Tableaux, graphiques, indicateurs);</span></li>
  <li><span class="ft14">Cartographie interactive + exports;</span></li>
  <li><span class="ft14">Développement Python, Django, J2ME, Android, VBA, Javascript (Mapbox.js), TileMill;</span></li>
  <li><span class="ft14">Monitoring collecte, Maintenance, support et formations </span><nobr>(2011-2014).</nobr></li>
  </ul>
  <p class="ft12">Carte Sanitaire Numérique du Mali.</p>
  <p class="ft11">Ministère de la Santé, ANTIM</p>
  <ul>
  <li><span class="ft14">Codiﬁcation numérique de toutes les structures de santé avec les coordonnées GPS;</span></li>
  <li><span class="ft14">Cartographie interactive;</span></li>
  <li><span class="ft14">Export SQLite et CSV;</span></li>
  <li><span class="ft14">ETL: Import de source hétérogène;</span></li>
  <li><span class="ft14">Développement: Python, django, CSS, HTML, OpenStreetMap, MySql.</span></li>
  </ul>
  <p class="ft12">Hotline Population du Nord.</p>
  <p class="ft11">AECOM, USAID</p>
  <ul>
  <li><span class="ft14">Système Hotline asynchrone;</span></li>
  <li><span class="ft14">Génération automatique des statistiques et export CSV;</span></li>
  <li><span class="ft14">Cartographie interactive;</span></li>
  <li><span class="ft14">Développement Python, Django, CSS, HTML, JS, MySql, MongoDB;</span></li>
  <li><span class="ft14">Formations.</span></li>
  </ul>
  <p class="ft12">Site web de la Commission des Finances</p>
  <p class="ft11">Assemblée Nationale du Mali.</p>
  <ul>
  <li><span class="ft14">Archivage numérique des rapports de la commission en ligne.</span></li>
  <li><span class="ft14">Export PDF;</span></li>
  <li><span class="ft14">Développement Python, Django, CSS, HTML, JQuery;</span></li>
  <li><span class="ft14">Formation des utilisateurs.</span></li>
  </ul>
  <p class="ft12">Système d’Information sur la Nutrition.<span class="ft15">. .</span></p>
  <p class="ft11"><nobr>Croix-Rouge</nobr> Française, <nobr>Croix-Rouge</nobr> Malienne</p>
  <ul>
  <li><span class="ft14">Collecte de données mobile individuelle (suivi nutrition par SMS);</span></li>
  <li><span class="ft14">Analyses automatisées (Tableaux, graphiques, indicateurs);</span></li>
  <li><span class="ft14">Développement Python, Django, CSS, HTML, J2me, MySql;</span></li>
  <li><span class="ft14">Export (SQLite , XLS);</span></li>
  <li><span class="ft14">Monitoring collecte, Maintenance, support et formations (2 ans).</span></li>
  </ul>
  <p class="ft12">Système d’Information de Routine sur le Paludisme.<span class="ft15">. . .</span></p>
  <p class="ft11">PNLP, MEASURE Evaluation USAID, Ministaire de la santé.</p>
  <ul>
  <li><span class="ft14">Collecte de données mobile (SMS, J2Me, Excel);</span></li>
  <li><span class="ft14">Analyses automatisées (Tableaux, graphiques, indicateurs);</span></li>
  <li><span class="ft14">Développement Python, Django, CSS, HTML, J2me, MySql;</span></li>
  <li><span class="ft14">Monitoring collecte, Maintenance, support et formations.</span></li>
  </ul>
  <p class="ft12">Logiciel de Comptabilité Budgétaire.</p>
  <p class="ft11">Assemblée Nationale du Mali.</p>
  <ul>
  <li><span class="ft14">Développement PyQt4, SQLAlchemy, Python, SQlite, Windows;</span></li>
  <li><span class="ft14">Export (PDF , XLS);</span></li>
  <li><span class="ft14">Formation des utilisateurs.</span></li>
  </ul>
</div>
  <div class="row">
    <h3 class="ft3">Stage pratique</h3>
    <div class="row">
      <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">Centre OMD (Objectif du Millénium pour le Développement de l’Afrique de l’Ouest et du Centre)</br>
      <p class="ft7">7 mois de stage pratique en programmation.</p></div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ft11 rights">2010</div>
    </div>
  </div>
  <div class="row">
    <h3 class="ft3">Langues</h3>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  ft5">Bambara</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft11">Maternelle</div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft5">Français</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft11">Bonne maîtrise </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft5">Anglais</div>
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ft11">Niveau moyen</div>
    </div>
  </div>
  <div class="row">
    <h3 class="p13 ft3">Divers</h3>
    <p class="p12 ft19">J’aime la vie associative la lecture, le cinéma, la musique, le sport, et le travail d’équipe. Permis de conduire Malien, catégorie BC en août 2007.</p>
  </div>
</div>